
project_data/.ipynb_checkpoints/college-scorecard-checkpoint.ipynb
project_data/.ipynb_checkpoints/community-colleges-checkpoint.ipynb
project_data/college-scorecard.ipynb
project_data/CollegeScorecard_Raw_Data_04262022/Crosswalks.zip
project_data/CollegeScorecard_Raw_Data_04262022/data.yaml
project_data/CollegeScorecard_Raw_Data_04262022/FieldOfStudyData1415_1516_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/FieldOfStudyData1516_1617_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/FieldOfStudyData1617_1718_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/FieldOfStudyData1718_1819_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED1996_97_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED1997_98_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED1998_99_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED1999_00_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2000_01_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2001_02_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2002_03_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2003_04_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2004_05_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2005_06_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2006_07_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2007_08_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2008_09_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2009_10_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2010_11_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2011_12_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2012_13_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2013_14_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2014_15_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2015_16_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2016_17_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2017_18_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2018_19_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2019_20_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/MERGED2020_21_PP.csv
project_data/CollegeScorecard_Raw_Data_04262022/Most-Recent-Cohorts-Field-of-Study.csv
project_data/CollegeScorecard_Raw_Data_04262022/Most-Recent-Cohorts-Institution.csv
project_data/Most-Recent-Cohorts-Field-of-Study.csv
project_data/Most-Recent-Cohorts-Institution.csv
